<IfModule mod_rewrite.c>
    RewriteEngine On

    # Allow simulating arbitrary URLs with index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>

php_flag display_errors On
php_flag display_startup_errors On